html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

#tempDisable{
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-video {
    width: 300%;
    left: -100%;
  }
}

#feedbackButton {
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  bottom: 14px;
  right: 18px;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 0 25px;
  opacity: 0.75;
}

.homeButton {
  /*font-family: 'Roboto', sans-serif;*/
  /*font-weight: 100;*/
  /*color: white;*/
  position: fixed;
  bottom: 20px;
  right: 112px;
  /*font-size: 18px;*/
  /*text-decoration: none;*/
  /*text-shadow: 0 0 25px;*/
  opacity: 0.6;
  background-color: black;
  /*padding: 8px;*/
  border-radius: 90px;
}
.menuButton {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: white;
  position: fixed;
  bottom: 22px;
  right: 22px;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 0 25px;
  opacity: 0.6;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.menu {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 370px;
  background-color: #202124;
  border-radius: 4px;
  display: none;
  transform: translate(-50%, -50%);
}

.category {
  position: relative;
  height: 2px;
/*  width: 10%;*/
}

#cats{
  position: absolute;
  width: 300px;
  left: 140px;
  height: 100px;
  top: 75px;
  text-align: center;

}

#dogs{
  position: absolute;
  width:300px;
  height: 100px;
  left: 140px;
  text-align: center;
  margin-top: 150px;
}

#selectCategoryHeader {
  position: relative;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  bottom: 8px;
  width: 640px;
  top: 16px;
  right: 10px;
  margin: 10px;

}

.buttons{
  position: absolute;
  bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;

  padding: 8px 16px;
  border-radius: 8px;
  color: white;
}

#share-button{
  right: 253px;
}

#donate-button{
  right: 165px;
}

#feedback-button{
  right: 8px;
}

#closeIcon {
  position: absolute;
  width: 12px;
  top: 12px;
  right: 12px;
}

.forum_hover {
  background-color: #979797;
  cursor: pointer;
}

.close_hover {
  cursor: pointer;
}

