.fullscreen-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-video {
    width: 300%;
    left: -100%;
  }
}
}

@media (max-width: 767px) {
  .fullscreen-image {
    background: url('giphy.jpg') center center / cover no-repeat;
  }

  .fullscreen-video {
    display: none;
  }
}

.menuButton {
  font-family: 'Roboto', sans-serif;
  color: white; 
  position: absolute;
  bottom: 14px;
  right: 18px;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 0 25px;
  opacity: 0.75;
  background-color: black;
  padding: 10px;
  border-radius: 11px;
}

/* mobile not to play video */

.fullscreen-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-image {
    background: url('giphy.jpg') center center / cover no-repeat;
  }

  .fullscreen-video {
    display: none;
  }
}

.menu {
  position: relative;
  margin: auto;
  width: 600px;
  height: 580px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 11px;
}


.category {
  position: relative;
  margin: auto;
  color: white;
  width: 472px;
  height: 102px;
  border-radius: 11px;
  padding-top: 10px;
}

#animals{
  opacity: 0.1;
}

#nature{
  opacity: 1;
}

#city{
  opacity: 1;
}

#other{
  opacity: 1;
}

h2 {
  position: relative;
  color: white;
  font-size: 35px;
  padding-left: 170px;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
}


.closeIcon {
  position: absolute;
  top: 18px;
  right: 30px;
} 

p {
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  right: 30px;
}


